
.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 2px solid black;
  border-radius: 5px;
}
.logo {
  width: 70px;
}
.nav-links > ul {
  display: flex;
  list-style-type: none;
}

.nav-links > ul > li {
  padding: 10px;
}
.card{
    width: 250px;
    border: 1px solid black;
    padding: 10px;
    margin: 5%;
    border-radius: 10px;
}
.card >img{
    width: 100%;
}
.restrauntlist{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}